queryservice.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.dxss.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="queryservice" targetNamespace="http://ws.dxss.com/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.dxss.com/" elementFormDefault="unqualified" targetNamespace="http://ws.dxss.com/" version="1.0">
<xs:element name="Alarm" type="tns:Alarm"/>
<xs:element name="AlarmResponse" type="tns:AlarmResponse"/>
<xs:element name="BasicResource" type="tns:BasicResource"/>
<xs:element name="BasicResourceResponse" type="tns:BasicResourceResponse"/>
<xs:element name="QueryData" type="tns:QueryData"/>
<xs:element name="QueryDataResponse" type="tns:QueryDataResponse"/>
<xs:element name="QueryStatus" type="tns:QueryStatus"/>
<xs:element name="QueryStatusResponse" type="tns:QueryStatusResponse"/>
<xs:element name="Statistics" type="tns:Statistics"/>
<xs:element name="StatisticsResponse" type="tns:StatisticsResponse"/>
<xs:complexType name="Alarm">
<xs:sequence>
<xs:element minOccurs="0" name="QueryXml" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AlarmResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
<xs:element minOccurs="0" name="ErrorFlag" type="xs:int"/>
<xs:element minOccurs="0" name="ErrorInfo" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="QueryData">
<xs:sequence>
<xs:element minOccurs="0" name="QueryXml" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="QueryDataResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
<xs:element minOccurs="0" name="QueryID" type="xs:string"/>
<xs:element minOccurs="0" name="ErrorFlag" type="xs:int"/>
<xs:element minOccurs="0" name="ErrorInfo" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="QueryStatus">
<xs:sequence>
<xs:element minOccurs="0" name="QueryID" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="QueryStatusResponse">
<xs:sequence>
<xs:element minOccurs="0" name="Status" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Statistics">
<xs:sequence>
<xs:element minOccurs="0" name="QueryXml" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StatisticsResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
<xs:element minOccurs="0" name="ErrorFlag" type="xs:int"/>
<xs:element minOccurs="0" name="ErrorInfo" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="BasicResource">
<xs:sequence>
<xs:element minOccurs="0" name="QueryXml" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="BasicResourceResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
<xs:element minOccurs="0" name="ErrorFlag" type="xs:int"/>
<xs:element minOccurs="0" name="ErrorInfo" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="QueryDataResponse">
<wsdl:part element="tns:QueryDataResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="StatisticsResponse">
<wsdl:part element="tns:StatisticsResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="QueryStatus">
<wsdl:part element="tns:QueryStatus" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="Statistics">
<wsdl:part element="tns:Statistics" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="BasicResource">
<wsdl:part element="tns:BasicResource" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="QueryStatusResponse">
<wsdl:part element="tns:QueryStatusResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="BasicResourceResponse">
<wsdl:part element="tns:BasicResourceResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="Alarm">
<wsdl:part element="tns:Alarm" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="AlarmResponse">
<wsdl:part element="tns:AlarmResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="QueryData">
<wsdl:part element="tns:QueryData" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:portType name="QueryServicePortType">
<wsdl:operation name="Alarm">
<wsdl:input message="tns:Alarm" name="Alarm"></wsdl:input>
<wsdl:output message="tns:AlarmResponse" name="AlarmResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="QueryData">
<wsdl:input message="tns:QueryData" name="QueryData"></wsdl:input>
<wsdl:output message="tns:QueryDataResponse" name="QueryDataResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="QueryStatus">
<wsdl:input message="tns:QueryStatus" name="QueryStatus"></wsdl:input>
<wsdl:output message="tns:QueryStatusResponse" name="QueryStatusResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="Statistics">
<wsdl:input message="tns:Statistics" name="Statistics"></wsdl:input>
<wsdl:output message="tns:StatisticsResponse" name="StatisticsResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="BasicResource">
<wsdl:input message="tns:BasicResource" name="BasicResource"></wsdl:input>
<wsdl:output message="tns:BasicResourceResponse" name="BasicResourceResponse"></wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="queryserviceSoapBinding" type="tns:QueryServicePortType">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="Alarm">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="Alarm">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="AlarmResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="QueryData">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="QueryData">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="QueryDataResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="QueryStatus">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="QueryStatus">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="QueryStatusResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Statistics">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="Statistics">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="StatisticsResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="BasicResource">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="BasicResource">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="BasicResourceResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="queryservice">
<wsdl:port binding="tns:queryserviceSoapBinding" name="QueryServiceFor718ImplPort">
<soap:address location="http://localhost:8088/queryproxy/ws/query"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>